
.smudge {
  max-width: 600px;
}

.bg-image {
    background: url("/static/img/grainger.jpg") fixed;
    /* Full height */
    background-size: cover;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}

.ui.menu:first-child {
    /* margin-bottom: 5%; */
}

/* Remove all margins to make window properly fit the contents */
/* body {
	height:	100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
    overflow: scroll;
} */

body {
	overflow: hidden;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#overlay{
	margin: 0 auto;
	max-width: 1600px;
	max-height: 900px;
    /* overflow-y: scroll; */
}


#Result_title{
	margin-left: 10px;
	font-size: 24pt;
	font-family: "Times New Roman", Times, serif;
}

#Result_column{
	background-color: #5893D4;
	background: linear-gradient(to bottom right, white, transparent 50%);
}


#Filter_label{
	margin-left: 8px;
}

#Filter_row{
	min-width: 938px;
	width: 80%;
}

#Content_row{
	margin-top: 0px;
}

#card_col{
	min-width: 700px;
}

#ListOfSpace{
	width: 100%;
	height:	60vh;
	overflow: auto;
}

#List_accordion{
	width: 100%;
	background-color: #F8EEB4;
}

@media only screen and (max-width: 1016px) {
    #Sidebar {
        display: none;
    }
}

@media only screen and (max-height: 550px) {
    #title_row {
        display: none;
    }
}

@media only screen and (max-height: 350px) {
    #Filter_row {
        display: none;
    }
}


#Sidebar{
	min-width: 160px;
	height: 50vh;
	overflow: auto;
}



#bar_col{
	width: 192px;
	height: 390px;
}

#title_row{
	min-width: 938px;
}

#Library_card{
	width: 100%;
	background-color: #F6E5E5;
	min-height:180px;
}


#List_accordion_Side{
	width: 100%;
	background-color: #FfE6EB;
}

#Sidebar_image{
	width: 100%
}

#Siderbar_text{
	font-size: 9pt;
}

#Siderbar_card{
	width: 100%;
}

#LibraryNameText{
	margin-top: 20px;
	font-size: 18pt;
}

#Reserve_button{
	width: 50%;
}

#Rating_column{
	margin-top: 10px;
}

#NumOfResults{
	font-size: 13pt;
	font-family: "Times New Roman", Times, serif;

}

#Info_subtitles{
	font-size:13pt;
}

#Search_button{
	font-weight: bold;
}

.update_wrap
{
    background: #99ccff;
    width: 80%; max-height: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 0%;
    padding: 10px;
    overflow: auto;
}

.all_changes
{
    margin-top: 0px;
    /* display: flex; */
    overflow: auto;
    height: calc(100% - 44px); /*bc nav bar takes up top 44 pixels */
}

.update_section {
    margin-bottom: 25px;
    /* height: calc(100% - 100px); */
    overflow: auto;
}

.update_wrap_toggle
{
    display: block;
    width: 80%;
    height: 35px;
    line-height: 35px;
    background: #003399;
    text-align: center;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration:none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.update_wrap_toggle:hover
{
    text-decoration:none;
    background: #3366cc;
    color: white;
}


#form_button
{
    margin-left: 40px; margin-right: 20px;
}

.fixme
{
}

.ui.grid {
    margin: 0px;
}

.containerUpdate .contentUpdate {
    display: none;
    padding : 5px;
}

#addNewButton
{
    background-color: #12bc45;
}

#myboxes{
    padding-left: 0px;
	padding-top: 10px;
	width: 30vw;
	min-width: 295px;
	position: inherit;
	display: none;
}
