{% extends '../nav.html' %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column smudge">
    <h2 class="ui image header">
      <div class="content">
        Log-in to to StudySpace
      </div>
    </h2>
    <form action="#" method="get" class="ui large form">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
        <div>
          New to us? <a href="#">Register!</a> Or use our site <a href="#">anonymously.</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
