{% extends '../nav.html' %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column smudge">
    <h2 class="ui image header">
      <div class="content">
        Search for Current Study Space on Campus
      </div>
    </h2>
    <form action="/results" method="GET" class="ui large form">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="location arrow icon"></i>
            <input type="text" id="location_autocomplete" name="location" placeholder="Current Location">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="users icon"></i>
            <input type="number" name="groupSize" placeholder="Number of People in Your Group">
          </div>
        </div>
        <div class="field">
            <select name="enviroment" class="ui dropdown">
              <option value="">Select Enviroment</option>
              <option value="Quiet Open Study">Quiet Open Study</option>
              <option value="Quiet Closed Study">Quiet Closed Study</option>
              <option value="Group Study">Group Study</option>
            </select>
        </div>
          <div class = "field">
              Select Date and Time
              <div class="two fields">
                  <div class="field">
                      <div class="ui left icon input">
                        <i class="calendar alternate icon"></i>
                        <input type="text" id="datepicker" placeholder="Select Date" name="forDate">
                      </div>
                  </div>
                  <div class="field">
                      <div class="ui left icon input">
                        <i class="clock icon"></i>
                        <input type="text" id="timepicker" placeholder="Select Time" name="forTime">
                      </div>
                  </div>
              </div>
          </div>
      <input class="ui fluid large teal submit button" type="submit" value="Search"></input>

      <div class="ui error message"></div>

    </form>
  </div>
</div>
{% endblock %}
