{% extends '../nav.html' %}

{% block content %}
<div class="all_changes">
    <div class="library_changes">
        <div class="library_toggle_wrapper" >
          <a href="#0" id="library_wrap_toggle">Edit Library Data</a>
        </div>
        <div id="library_wrap" style="display: none;">
            <div class="containerLibrary">
                <div class="ui primary button headerLibrary"><span>Add New Library Entry</span>
                </div>
                <div class="contentLibrary">
                    <form action="/update/" method="POST" class="ui large form" name="Library"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" placeholder="Library Name (Unique Identifier)">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Department
                              </div>
                              <input type="text" name="libraryDept" placeholder="Library Department">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Number of Floors
                              </div>
                              <input type="number" name="numFloors" placeholder="Number of Floors">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Address
                              </div>
                              <input type="text" name="libAddress" id="location_autocomplete" placeholder="Library Address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Room Reservation Link
                              </div>
                              <input type="text" name="reservationLink" placeholder="Reservation Link">
                            </div>
                        </div>
                        <input class="ui fluid large teal submit button"  type="submit" name="Library" value="Add to Database"></input>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            </div>
            {% for key, values in library_data.items %}
                <div id="library_data_card">
                    <form action="/update/" method="POST" class="ui large form" name="Library"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" value="{{values.libName}}" readonly>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Department
                              </div>
                              <input type="text" name="libraryDept" value="{{values.libraryDept}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Number of Floors
                              </div>
                              <input type="number" name="numFloors" value="{{values.numFloors}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Address
                              </div>
                              <input type="text" name="libAddress" id="location_autocomplete" value="{{values.libAddress}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Room Reservation Link
                              </div>
                              <input type="text" name="reservationLink" value="{{values.reservationLink}}">
                            </div>
                        </div>
                        <div class="two fields">
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Library" value="update"></input>
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Library" value="delete"></input>
                        </div>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
