{% extends '../nav.html' %}

{% block content %}
<div class="all_changes">
    <div class="library_changes update_section">
        <div class="library_toggle_wrapper update_toggle_wrapper" >
          <a href="#0" id="library_wrap_toggle" class="update_wrap_toggle">Edit Library Data</a>
        </div>
        <div id="library_wrap" class="update_wrap" style="display: none;">
            <div class="containerUpdate">
                <div class="ui primary button headerLibrary" id="addNewButton"><span>Add New Library Entry</span>
                </div>
                <div class="contentUpdate">
                    <form action="/update/" method="POST" class="ui large form" name="Library"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" placeholder="Library Name (Unique Identifier)">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Department
                              </div>
                              <input type="text" name="libraryDept" placeholder="Library Department">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Number of Floors
                              </div>
                              <input type="number" name="numFloors" placeholder="Number of Floors">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Address
                              </div>
                              <input type="text" name="libAddress" id="location_autocomplete" placeholder="Library Address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Room Reservation Link
                              </div>
                              <input type="text" name="reservationLink" placeholder="Reservation Link">
                            </div>
                        </div>
                        <input class="ui fluid large teal submit button"  type="submit" name="Library" value="Add to Database"></input>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            </div>
            {% for key, values in library_data.items %}
                <div id="library_data_card">
                    <div class="ui primary button showHideCard" style="margin-top: 10px;"><span>{{values.libName}}</span>
                    </div>
                    <form action="/update/" method="POST" class="ui large form" name="Library" style="display: none;"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" value="{{values.libName}}" readonly>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Department
                              </div>
                              <input type="text" name="libraryDept" value="{{values.libraryDept}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Number of Floors
                              </div>
                              <input type="number" name="numFloors" value="{{values.numFloors}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Address
                              </div>
                              <input type="text" name="libAddress" id="location_autocomplete" value="{{values.libAddress}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Room Reservation Link
                              </div>
                              <input type="text" name="reservationLink" value="{{values.reservationLink}}">
                            </div>
                        </div>
                        <div class="two fields">
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Library" value="update"></input>
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Library" value="delete"></input>
                        </div>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="floor_changes update_section">
        <div class="floor_toggle_wrapper update_toggle_wrapper" >
          <a href="#0" id="floor_wrap_toggle" class="update_wrap_toggle">Edit Floor/Section Data</a>
        </div>
        <div id="floor_wrap" class="update_wrap" style="display: none;">
            <div class="containerUpdate">
                <div class="ui primary button headerFloor" id="addNewButton"><span>Add New Floor/Section Entry</span>
                </div>
                <div class="contentUpdate">
                    <form action="/update/" method="POST" class="ui large form" name="Floor"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" placeholder="Library Name (Part of Unique Identifier)">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Floor Number
                              </div>
                              <input type="number" name="floorNum" placeholder="Floor Number (Part of Unique Identifier)">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Section
                              </div>
                              <input type="text" name="section" placeholder="Section (Part of Unique Identifier)">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Number of Seats
                              </div>
                              <input type="number" name="numSeats" placeholder="Number of Seats">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Study Enviroment
                              </div>
                                <select name="studyEnv" class="ui dropdown">
                                  <option value="">Select Enviroment</option>
                                  <option value="Quiet Open Study">Quiet Open Study</option>
                                  <option value="Quiet Closed Study">Quiet Closed Study</option>
                                  <option value="Group Study">Group Study</option>
                                  <option value="EWS Station">EWS Station</option>
                                </select>
                            </div>
                        </div>
                        <input class="ui fluid large teal submit button"  type="submit" name="Floor" value="Add to Database"></input>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            </div>
            {% for key, values in floor_data.items|dictsort:"0.lower" %}
                <div id="floor_data_card">
                    <div class="ui primary button showHideCard" style="margin-top: 10px;"><span>{{values.libName}} - Floor #{{values.floorNum}} - Section {{values.section}}</span>
                    </div>
                    <form action="/update/" method="POST" class="ui large form" name="Floor" style="display: none;"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" value="{{values.libName}}" readonly>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Floor Number
                              </div>
                              <input type="number" name="floorNum" value="{{values.floorNum}}" readonly>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Section
                              </div>
                              <input type="text" name="section" value="{{values.section}}" readonly>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Number of Seats
                              </div>
                              <input type="number" name="numSeats" value="{{values.numSeats}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Study Enviroment
                              </div>
                                <select name="studyEnv" class="ui dropdown">
                                  {% if values.studyEnv == "" %}
                                    <option value="" selected="selected">Select Enviroment</option>
                                  {% else %}
                                    <option value="">Select Enviroment</option>
                                  {% endif %}

                                  {% if values.studyEnv == "Quiet Open Study" %}
                                    <option value="Quiet Open Study" selected="selected">Quiet Open Study</option>
                                  {% else %}
                                     <option value="Quiet Open Study">Quiet Open Study</option>
                                  {% endif %}

                                  {% if values.studyEnv == "Quiet Closed Study" %}
                                    <option value="Quiet Closed Study" selected="selected">Quiet Closed Study</option>
                                  {% else %}
                                     <option value="Quiet Closed Study">Quiet Closed Study</option>
                                  {% endif %}

                                  {% if values.studyEnv == "Group Study" %}
                                    <option value="Group Study" selected="selected">Group Study</option>
                                  {% else %}
                                    <option value="Group Study">Group Study</option>
                                  {% endif %}

                                  {% if values.studyEnv == "EWS Station" %}
                                    <option value="EWS Station" selected="selected">EWS Station</option>
                                  {% else %}
                                    <option value="EWS Station">EWS Station</option>
                                  {% endif %}

                                </select>
                            </div>
                        </div>
                        <div class="two fields">
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Floor" value="update"></input>
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Floor" value="delete"></input>
                        </div>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="hours_changes update_section">
        <div class="hours_toggle_wrapper update_toggle_wrapper" >
          <a href="#0" id="hours_wrap_toggle" class="update_wrap_toggle">Edit Hours of Operation Data</a>
        </div>
        <div id="hours_wrap" class="update_wrap" style="display: none;">
            <div class="containerUpdate">
                <div class="ui primary button headerHours" id="addNewButton"><span>Add New Hours of Operation Entry</span>
                </div>
                <div class="contentUpdate">
                    <form action="/update/" method="POST" class="ui large form" name="Hours"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" placeholder="Library Name (Part of Unique Identifier)">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Day of Week (1-7, with Monday = 1)
                              </div>
                              <input type="number" name="dayOfWeek" placeholder="Day of Week (Part of Unique Identifier)">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Open Time (Hour between 0-24)
                              </div>
                              <input type="number" name="openTime" placeholder="Open Time">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Close Time (Hour between 0-24)
                              </div>
                              <input type="number" name="closeTime" placeholder="Close Time">
                            </div>
                        </div>
                        <input class="ui fluid large teal submit button"  type="submit" name="Hours" value="Add to Database"></input>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            </div>
            {% for key, values in hoursOfOp.items|dictsort:"0.lower" %}
                <div id="hours_data_card">
                    <div class="ui primary button showHideCard" style="margin-top: 10px;"><span>{{values.libName}} - Day #{{values.dayOfWeek}}</span>
                    </div>
                    <form action="/update/" method="POST" class="ui large form" name="Hours" style="display: none;"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" value="{{values.libName}}" readonly>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Day of Week (1-7, with Monday = 1)
                              </div>
                              <input type="number" name="dayOfWeek" value="{{values.dayOfWeek}}" readonly>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Open Time (Hour between 0-24)
                              </div>
                              <input type="number" name="openTime" value="{{values.openTime}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Close Time (Hour between 0-24)
                              </div>
                              <input type="number" name="closeTime" value="{{values.closeTime}}">
                            </div>
                        </div>
                        <div class="two fields">
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Hours" value="update"></input>
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Hours" value="delete"></input>
                        </div>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="records_changes update_section">
        <div class="records_toggle_wrapper update_toggle_wrapper" >
          <a href="#0" id="records_wrap_toggle" class="update_wrap_toggle">Edit Records Data</a>
        </div>
        <div id="records_wrap" class="update_wrap" style="display: none;">
            <div class="containerUpdate">
                <div class="ui primary button headerRecords" id="addNewButton"><span>Add New Records Entry</span>
                </div>
                <div class="contentUpdate">
                    <form action="/update/" method="POST" class="ui large form" name="Records"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" placeholder="Library Name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Floor Number
                              </div>
                              <input type="number" name="floorNum" placeholder="Floor Number">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Section
                              </div>
                              <input type="text" name="section" placeholder="Section">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Day of Week (1-7, with Monday = 1)
                              </div>
                              <input type="number" name="dayOfWeek" placeholder="Day of Week">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Time of Day (Hour between 0-24)
                              </div>
                              <input type="number" name="time" placeholder="Time of Day">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Record Count
                              </div>
                              <input type="number" name="count" placeholder="Record Count">
                            </div>
                        </div>

                        <input class="ui fluid large teal submit button"  type="submit" name="Records" value="Add to Database"></input>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            </div>
            {% for key, values in record_data.items|dictsort:"0.lower" %}
                <div id="records_data_card">
                    <div class="ui primary button showHideCard" style="margin-top: 10px;"><span>{{values.libName}} - Floor #{{values.floorNum}} -  Section {{values.section}} - Day #{{values.dayOfWeek}} - Time: {{values.time}} </span>
                    </div>
                    <form action="/update/" method="POST" class="ui large form" name="Records" style="display: none;"> {% csrf_token %}
                      <div class="ui stacked secondary segment">
                          <div class="field">
                              <div class="ui labeled input">
                                <div class="ui label">
                                  RecordID
                                </div>
                                <input type="text" name="recordID" value="{{values.recordID}}" readonly>
                              </div>
                          </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Library Name
                              </div>
                              <input type="text" name="libName" value="{{values.libName}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Floor Number
                              </div>
                              <input type="number" name="floorNum" value="{{values.floorNum}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Section
                              </div>
                              <input type="text" name="section" value="{{values.section}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Day of Week (1-7, with Monday = 1)
                              </div>
                              <input type="number" name="dayOfWeek" value="{{values.dayOfWeek}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Time of Day (Hour between 0-24)
                              </div>
                              <input type="number" name="time" value="{{values.time}}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                              <div class="ui label">
                                Record Count
                              </div>
                              <input type="number" name="count" value="{{values.count}}">
                            </div>
                        </div>
                        <div class="two fields">
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Records" value="update"></input>
                            <input class="field ui fluid large teal submit button" id="form_button" type="submit" name="Records" value="delete"></input>
                        </div>
                      </div>

                      <div class="ui error message"></div>

                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
